<script>
define([], function() {
    return new Vue({
        template: __template__,
        data() {
            return {}
        },
        mounted() {},
        methods: {}
    })
});
</script>

<style>
.slick-slide{text-align:center;height:160px;line-height:160px;background:#364d79;overflow:hidden}.slick-slide h3{color:#fff}#carousel-box{margin:10px}.custom-slick-arrow{width:25px;height:25px;font-size:25px;color:#fff;background-color:rgba(31,45,61,.11);opacity:0.3}.custom-slick-arrow:before{display:none}.custom-slick-arrow:hover{opacity:0.5}
</style>

<template>
    <a-carousel arrows id="carousel-box" autoplay>
       <div slot="prevArrow" slot-scope="props" class="custom-slick-arrow" style="left: 10px; zIndex: 1">
          <a-icon type="left-circle" />
       </div>
       <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
          <a-icon type="right-circle" />
       </div>
       <div>
          <h3>凉风有幸 1</h3>
       </div>
       <div>
          <h3>秋月无边 2</h3>
       </div>
       <div>
          <h3>啦啦啦啦 3</h3>
       </div>
       <div>
          <h3>置顶精选 4</h3>
       </div>
    </a-carousel>
 </template>